/* Reset básico e fixo */
header {
  padding: 20px 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
  margin-top: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-family: 'Space Grotesk';
}

/* Espaçamento entre seções */
.container {
  margin: 50px auto;
  max-width: 420px;
  padding: 20px;
}

/* Ajuste da lista */
#servicos ul {
  list-style: none;
  padding: 0;
  text-align: left;
}
